<div class="main-container">
  <div class="new-post">
    <%= link_to 'New Post', new_post_path %>
  </div>
  <ul id="post">
    <% @posts.each do |post| %>
        <li><%= post.title %></li>
    <% end %>
  </ul>
</div>
